header{
    background-color: violet;
    
    padding: 20px;
    margin-bottom: 30px;
}
body{
    background-color: rgb(28, 17, 184);
    color:brown;
    font-family:cursive
}
h2 { color:chartreuse}

.nuestramision {
  color: rgb(229, 255, 0);

}
.especial {
  
  color: rgb(126, 16, 107);  
  font-size: 20px;    
  font-style:italic;
}



h1.naranja { color: blue;
    text-align: center;
    font-size: 45px;
    text-transform:uppercase;
    text-decoration:underline ;
    text-shadow: 1px 3px 2px rgb(65, 47, 26),
             -13px -11px 14px rgba(56, 108, 73, 1),
             -15px 3px 21px rgba(81, 255, 98, 1);
    


}
.medio { 
    text-align: center;

}
p {
  color: coral;
  background-color: rgb(245, 188, 224)
}
#special{
  color:bisque;
  background-color: cadetblue;
  font-size: 30px;
}

.boton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}

.boton:hover {
  background-color: #0056b3;
  color: #ffcc00;
}
.box {
  margin: 20px;
  padding: 15px; 
  border: 2px solid gold; 
  box-sizing: border-box; 
  width: 200px;
  height: 130px;
  background-color: #ac782b;
}

.icono {
  width: 200px;
  height: 200;
   
}
